# dependencies
node_modules
.pnpm-store

# next.js
.next
out
build
*.tsbuildinfo
next-env.d.ts

# env
.env
.env.*
!.env.example

# vercel
.vercel

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.DS_Store

# coverage
coverage
.nyc_output

# misc
*.pem
.cache
